:root {
  --primery-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  --primery-font-size: 14px;
  --secondary-font-size: 16px;
  --primery-letter-spacing: 0.03em;

  --primery-background: #2f303a;
  --secondary-background: #f5f4fa;

  --primery-color-text-white-them: #212121;
  --secondary-color-text-white-them: #757575;
  --primery-color-text-dark-them: #ffffff;
  --secondary-color-text-dark-them: #ffffff 60 %;

  --accent-color: #2196f3;
  --border-color: #eeeeee;
  --logo-black-color: #000000;

  --color-seven: #f5f4fa;
  --color-nine: #2f303a;
  --color-ten: #ececec;
  --color-eleven: #000000 20 %;
  --color-twelwe: #188ce8;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  background-color: var(--primery-color-text-dark-them);
  color: var(--secondary-background);
  font-family: var(--primery-font);
  font-size: var(--primery-font-size);
  letter-spacing: var(--primery-letter-spacing);
}
button {
  cursor: pointer;
}
.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.list {
  display: flex;
  align-items: center;
}

/* ==========COMPONENTS================= */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.title-second {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primery-color-text-white-them);
}
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.studio {
  font-family: var(--secondary-font);
}
.studio-dark {
  color: var(--logo-black-color);
}

.studio-light {
  color: var(--primery-color-text-dark-them);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ==========/COMPONENTS=================== */
/* =============HEADER===================== */
.top-header {
  padding-top: 32px;
  padding-bottom: 32px;
  border: 1px solid var(--secondary-background);
}
.page-nav-conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-nav {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 95px;
}
.menu {
  display: flex;
  align-items: center;
}
.menu-item:not(:last-child) {
  margin-right: 50px;
}

.contact-tel {
  margin-left: 50px;
}
.menu-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-color-text-white-them);
}
.menu-link:hover,
.menu-link:focus,
.current {
  color: var(--accent-color);
}

.contakt {
  font-style: normal;
  font-weight: 500;
  font-size: var(--primery-font-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color-text-white-them);
}
.contakt:hover,
.contakt:focus {
  color: var(--accent-color);
}
/* =============/HEADER===================== */
/* =============HERO======================== */
.hero {
  background-color: var(--primery-background);
  text-align: center;
}
.conteiner-hero {
  padding-top: 200px;
}
.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primery-color-text-dark-them);
}

.modal-btn {
  background-color: var(--accent-color);
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
  font-weight: 700;
  font-size: var(--secondary-font-size);
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primery-color-text-dark-them);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--color-twelwe);
}
/* =============/HERO===================== */
/* ============= ABOUT=====================*/
.our-principles {
  display: flex;
  flex-wrap: wrap;
}
.principe-list {
  text-align: left;
  width: 270px;
}
.principe-list:not(:last-child) {
  margin-right: 30px;
}
.about-list {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primery-color-text-white-them);
}
.description {
  padding-top: 2px;
  padding-bottom: 2px;
  line-height: 1.71;
  color: var(--secondary-color-text-white-them);
}
/* ============/ABOUT=================== */
/* ============WORKS=================== */
.conteiner-works {
  flex-wrap: wrap;
  align-items: center;
}
.work-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.work-item {
  width: 370px;
}
/* ============/WORKS==================== */
/* ============STAFF==================== */
.staff {
  background-color: var(--secondary-background);
}
.conteiner-person {
  flex-wrap: wrap;
  align-items: center;
}
.person-item:not(:nth-child(4n)) {
  margin-right: 30px;
}
.person-item {
  background: var(--secondary-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.img-person {
  margin-bottom: 30px;
}
.name-person {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: var(--secondary-font-size);
  line-height: 1.19;
  text-align: center;
  color: var(--primery-color-text-white-them);
}
.position-person {
  margin-bottom: 30px;
  line-height: 1.19;
  text-align: center;
  font-size: var(--secondary-font-size);
  color: var(--secondary-color-text-white-them);
}
/* ============/STAFF=================== */
/*=============PORTFOLIO================*/
.filter-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.filter-item:not(:last-child) {
  display: block;
  margin-right: 8px;
}
.filter-button {
  display: block;
  height: 38px;
  padding: 6px 22px;
  background-color: var(--secondary-background);
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 500;
  font-size: var(--secondary-font-size);
  line-height: 1.63;
  letter-spacing: inherit;
  text-align: center;
  color: var(--secondary-color-text-white-them);
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--primery-color-text-white-them);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  border: px solid var(--secondary-background);
  flex-basis: calc(100%-60px / 3);
}
.portfolio-title {
  margin-bottom: 4px;
  margin-left: 24px;
  margin-right: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color-text-white-them);
}
.portfolio-type {
  margin-left: 24px;
  font-size: var(--secondary-font-size);
  line-height: 1.89;
  letter-spacing: 0.03em;
  color: var(--secondary-color-text-white-them);
}
.portfolio-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid var(--border-color);
  border-top: none;
}
/* ============FOOTER================== */
.footer {
  background-color: var(--primery-background);
}
.list-footer {
  display: block;
}

.conteiner-adress {
  padding-top: 60px;
  padding-bottom: 60px;
}

.list-footer {
  margin-top: 20px;
}
.c-footer {
  margin-bottom: 9px;
}
.c-footer:not(:last-child3n) {
  margin-bottom: 9px;
}
.adress {
  margin-bottom: 9px;
  font-style: normal;
  font-size: var(--primery-font-size);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primery-color-text-dark-them);
}
.contact-footer {
  font-style: normal;
  font-size: var(--primery-font-size);
  line-height: 1.71;
  color: var(--secondary-color-text-white-them);
}
.contact-footer:hover,
.contact-footer:focus,
.adress:hover,
.adress:focus {
  color: var(--accent-color);
}
/* ============/FOOTER================== */
